<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style/css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-icons/bootstrap-icons.css">
    <title>SuperSonicRevolution</title>



</head>
<body>
    <div class="keyVisual">
        <!--nav bar-->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/SSR_logo_icon.png" height="80">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="#keyVisual">主頁</a>
                        <a class="nav-link" href="#about">關於SSR</a>
                        <a class="nav-link" href="#eventInfo">活動資訊</a>
                        <a class="nav-link" href="#playerList">跑者資料庫</a>
                        <a class="nav-link" href="#contactUs">聯繫我們</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="videobox">
            <iframe 
                width="560" 
                height="315" 
                src="https://player.twitch.tv/?channel=SuperSonicRevolution&parent=dsa83171.github.io" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div id="about">
        <h1>關於SSR</h1>

    </div>
    <div id="eventInfo">
        <h1>活動資訊</h1>

    </div>
    <!--玩家清單-->
    <div id="playerList">
        <h1>跑者資料庫</h1>
        <div class="row">
            <div class="card custom-card" v-for="item in player">
                <div class="row g-0" >
                    <div class="col-3 avatar">
                        <img :src=`assets/${item.avatar}` class="img-fluid rounded-start" alt="Avatar">
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}
                                <a :href="item.links.youtube"><img class="icon red" src="assets/images/community_logo/youtube.svg"></a>
                                <a :href="item.links.twitch"><img class="icon purple" src="assets/images/community_logo/twitch.svg"></a>
                            </h5>
                            <div style="display: flex; width: fit-content;">
                                <span class="labelTag" v-for="tag in item.tag">{{tag}}</span>
                            </div>
                            <p class="card-text">{{item.introduction}}</p>
                            <p class="card-text"><small class="text-body-secondary">更多資訊 >> </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 引入 Vue.js -->
    <script src="style/js/vue.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="style/js/jquery-latest.min.js"></script>
    <script type="module" src="style/js/playerInfo.js"></script>

</body>

<foot>
    <div id="contactUs">

    </div>
</foot>

</html>