/* 0 - 768px*/
@font-face {
  font-family: 'Helvetica';
  src:url('../../fonts/俊羽圓體-SemiBold.ttf') format("truetype"),
}

body{
    background-image: url("../../assets/images/background.jpg");;
    min-width: 768px;
}

html h1{
  font-family:"俊羽圓體-SemiBold";
  font-weight: bold;
  text-shadow: -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
  text-align: center;
}

html h2,h3,h4,h5{
  font-family:"俊羽圓體-SemiBold","Microsoft JhengHei UI";
  font-weight: bold !important;
}

html p,ul,li,span{
  font-family:"Microsoft JhengHei UI";
  font-weight: bold !important;
  list-style: none;
}

#about{
  padding: 5% 10%;
}

.avatar img{
  width:100% ;
}

.card-text{
  text-overflow: ellipsis;
  white-space: pre-line;
  font-size: 1.1em;
}

.card-title{
  margin-bottom: 2px !important;
  font-size: 1.5em;

}

.custom-card{
  max-width: 100% !important;
  padding: 0 !important;
  margin-bottom: 5px;
}

.container-fluid{
  display: flex;
  justify-content: space-evenly;;
  align-items: center;
}

.icon{
  width:30px;
}
.red{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(326deg) brightness(100%) contrast(180%);
}
.purple{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(224deg) brightness(85%) contrast(180%);
}

.keyVisual{
  min-height:1080px;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/images/SSR2024_KV.png");
}

.labelTag{
  cursor:pointer;
  padding:5px 5px !important;
  display: flex;
  color: #fff;
  background: #7b8dac;
  border-radius: 5px;
  margin-right: 5px;
  font-size: small;
  width: fit-content !important;
}

.limitRange{
  padding: 0 10%;
}

.modal{
  --bs-modal-width: 90% !important;
}

.modalAvatar{
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 2px 5px #4d4d4d;
  margin-bottom: 5px;
}

.modalContent{
  margin-bottom: 1.2em;
}

.modalIcon{
  width: 50px;
}

.modalList{
  margin-left: 2em;
  margin-bottom: .5em;
}

.navbar{
  font-size: 30px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
}
.nav-link{
  color: black !important;
  margin-left: 10px;
}
.nav-link:hover{
  color: #0045bd !important;
}


.popupLink{
  cursor: pointer;
  width: fit-content;
  color: #77777c;
}

.row{
  margin:0px !important;
}

.text_content{
  padding: 5% 10%;
  border-radius: 10px;
  border: #fff 2px solid;
  background-color: rgba(255,255,255,0.75) ;
  font-size: 1.2rem;
  font-weight: 800;
}

.videobox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.videobox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding:50px;
}

.container{
  max-width: 1280px !important;
}


@media screen and (min-width: 768px){
  .avatar img{
    width:150px ;
  }

  .card  {
    width:fit-content;
  }
  
  .card-text{
    text-overflow: ellipsis;
  }

  .custom-card{
    max-width: 49% !important;
    max-height: 300px;
    padding-left: 0 !important;
    margin-left: 5px;
  }
  .modal{
    min-width: 800px !important;
    
  }

  
}

@media screen and (min-width:990px) {
  
  .keyVisual{
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/images/SSR2024_KV16_9.png");
  }
  
}


@media screen and (min-width: 1280px){
  #about{
    padding: 5% 15%;
  }

  .card .avatar img {
    width:100px;
  }

  .card .avatar {
    width:fit-content;
  }
  .card-text{
    text-overflow: ellipsis;
  }

  .custom-card{
    max-width: 32% !important;
    max-height: 250px;
    padding-left: 0 !important;
    margin-left: 5px;
    left: 1.5%;
  }

  .modal{
    --bs-modal-width: 80% !important;
    
  }
  .videobox {
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 28.125%;
  }
  .videobox iframe {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
  }
}
  
  
