/* 0 - 768px*/
body{
    font-family:"Microsoft YaHei";
    background-image: url("../../assets/images/background.jpg");;
}
html h1{
  font-weight: bold;
  text-shadow: -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
  text-align: center;
}

.navbar{
  font-size: x-large;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
}

.videobox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.videobox iframe {
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row{
  margin:0px !important;

}

.custom-card{
  max-width: 100% !important;
  padding: 0 !important;
  margin-bottom: 5px;

}
.avatar img{
  width:100% ;
}

.keyVisual{
  min-height:1000px;
  background-size: cover;
  background-image: url("../../assets/images/SSR2024_KV.png");
}

.card-text{
  text-overflow: ellipsis;
}
  
.icon{
  width:30px;
}
.icon.red{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(326deg) brightness(100%) contrast(180%);
}
.icon.purple{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(224deg) brightness(85%) contrast(180%);
}
.labelTag{
  cursor:pointer;
  padding:4px 4px;
  display: flex;
  margin-right: 3px;
  color: #fff;
  background: #7b8dac;
  border-radius: 5px;
  font-size: small;
}

@media screen and (min-width: 768px){
  .custom-card{
    max-width: 49% !important;
    max-height: 300px;
    padding-left: 0 !important;
    margin-left: 5px;
  }

  .avatar img{
    width:100px ;
  }

  .card  {
    width:fit-content;
  }
  .card-text{
    text-overflow: ellipsis;
  }


}



@media screen and (min-width: 1280px){
  .custom-card{
    max-width: 33% !important;
    max-height: 250px;
    padding-left: 0 !important;
    margin-left: 2px;
  }

  .card .avatar img {
    width:100px;
  }

  .card .avatar {
    width:fit-content;
  }
  .card-text{
    text-overflow: ellipsis;
  }

}
  
  
